<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
        A software engineer specializes in Object-Oriented Programming and analysis with
        experience in the full life cycle of the software design process including designing, interface
        implementation, testing, and maintenance.In free time, I usually study technology, make some applications and learn English. I would like to work in a product company to study and make an application which is useful for community.    
</div>